.App {
  text-align: center;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  padding: 0.1em;
  margin: 0;
  font-size: 3em;
  color: #191970;
  font-weight: 900;
  margin-block-start: 0;
  margin-block-end: 0;
}
.input-box {
  font-size: 0.9em;
  padding: 2px 4px;
  width: 220px;
  margin: 2px;
}
#signinBox {
  font-size: 0.9em;
  margin: 2px;
  padding: 2px;
}
h2 {
  margin: 10px;
}
h3 {
  margin: 12px 4px;
}
h4 {
  margin: 4px;
}
h5 {
  margin: 6px 10px;
}
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  list-style: none;
}

#page-container {
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  text-align: center;
}
#header {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "leftlogo title rightlogo";
  background-color: #f8f8f8;
  padding: 6px;
  text-align: center;
}
#topnav {
  overflow: hidden;
  background-color: #191970;
  font-size: 1em;
  width: 100vw;
}
#topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#topnav a:hover {
  background-color: #ffebcd;
  color: steelblue;
  font-weight: bold;
}
#main {
  text-align: center;
  background-color: #f8f8f8;
}
.select-box {
  font-size: 1em;
  margin: 6px 2px;
  vertical-align: middle;
  list-style: none;
  background-color: white;
}

a:link {
  color: white;
  text-decoration: none;
  /* background-color: white; */
}
a:hover {
  color: black;
}
a:visited {
  text-decoration: none;
  color: white;
}
.button {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-size: 14px;
  padding: 2px 4px;
  margin: 2px;
  background-color: steelblue;
  vertical-align: middle;
  color: #f2f2f2;
  border: none;
  /* border-radius: 4px; */
}
.button:hover {
  background-color: rgb(104, 252, 104);
  color: black;
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
  border: none;
  /* border-radius: 4px; */
}
.redbutton {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-size: 14px;
  padding: 2px 4px;
  margin: 2px;
  vertical-align: middle;
  background-color: steelblue;
  color: #f2f2f2;
  border: none;
  /* border-radius: 4px; */
}
.redbutton:hover {
  background-color: red;
  color: white;
  vertical-align: bottom;
  border: none;
  font-weight: bold;
}
#logo {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
#avatar-img {
  vertical-align: bottom;
  margin: 2px;
  width: 23px;
  height: 23px;
}
.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  margin-block-start: 4px;
  margin-block-end: 4px;
  margin-inline-start: 8px;
  margin-inline-end: 8px;
  padding-inline-start: 0;
}
.articleCard {
  flex: 0 1 calc(25% - 1em);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  min-width: 304px;
  border: 1px solid black;
  min-height: 260px;
  text-decoration: none !important;
  margin: 6px 4px;
  padding: 4px 4px;
  color: rgb(27, 27, 27);
  background-color: white;
}
.articleCard:hover {
  box-shadow: 0 50px 40px 0 rgba(0, 0, 0, 0.2);
  background-color: steelblue;
  color: #ffebcd;
}
.userCard {
  flex: 0 1 calc(25% - 1em);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  border: 1px solid black;
  min-height: 200px;
  margin: 6px 4px;
  padding: 4px 4px;
  color: rgb(27, 27, 27);
  background-color: white;
}
.userCard:hover {
  box-shadow: 0 50px 40px 0 rgba(0, 0, 0, 0.2);
  background-color: steelblue;
  color: #ffebcd;
}
.topicCard {
  flex: 0 1 calc(25% - 1em);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 304px;
  border: 1px solid black;
  min-height: 150px;
  margin: 6px 4px;
  padding: 4px 4px;
  color: rgb(27, 27, 27);
  background-color: white;
}
.topicCard:hover {
  box-shadow: 0 50px 40px 0 rgba(0, 0, 0, 0.2);
  background-color: steelblue;
  color: #ffebcd;
}
.newUserForm {
  margin: 2px auto;
  padding: 2px;
  background-color: #191970;
}
.newTopicForm {
  margin: 2px auto;
  padding: 2px;
  background-color: #191970;
}
#newArticleForm {
  width: 300px;
  margin: 2px auto;
  padding: 2px;
  background-color: #191970;
}
.sortBy {
  width: 100%;
  margin: 2px 0;
  background-color: #191970;
  font-size: 12px;
  color: white;
  vertical-align: middle;
}
textarea {
  width: 240px;
  height: 80px;
}
