.App {
  text-align: center;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  padding: 8px;
  margin: 0;
  font-size: 3em;
  color: #191970;
  font-weight: 900;
  margin-block-start: 0;
  margin-block-end: 0;
}
.usernameInput {
  font-size: 0.8em;
  padding: 2px 4px;
  width: 150px;
  margin: 2px;
}
.input-box {
  font-size: 0.9em;
  padding: 2px 4px;
  width: 220px;
  margin: 2px;
  border-radius: 4px;
  border: none;
}
#signinBox {
  font-size: 0.8em;
  font-weight: bold;
  margin: 2px;
  padding: 2px;
}
h2 {
  margin: 10px;
}
h3 {
  margin: 12px 4px;
}
h4 {
  margin: 4px;
}
h5 {
  margin: 6px 10px;
}
h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  list-style: none;
}

#page-container {
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  text-align: center;
}
#header {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "leftlogo title rightlogo";
  background-color: #f8f8f8;
  padding: 6px;
  text-align: center;
}
#leftlogo {
  min-width: 60px;
}
#rightlogo {
  min-width: 60px;
}
#topnav {
  overflow: hidden;
  font-size: 1em;
  width: 100vw;
  background: #133c99; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #191970,
    #4682b4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #191970,
    #4682b4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#topnav a:hover {
  background-color: #f8f8f8;
  color: black;
  font-weight: bold;
}
.articleMain {
  text-align: center;
  width: 100vw;
  background-color: #f8f8f8;
}

.select-box {
  font-size: 1em;
  margin: 6px 2px;
  vertical-align: middle;
  list-style: none;
  background-color: white;
}

a:link {
  color: white;
  text-decoration: none;
}
a:hover {
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
.button {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-size: 14px;
  padding: 4px 4px;
  margin: 2px;
  background-color: steelblue;
  vertical-align: middle;
  color: #f2f2f2;
  border: none;
  border-radius: 4px;
}
.button:hover {
  background-color: rgb(104, 252, 104);
  color: black;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}
.redbutton {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-size: 14px;
  padding: 4px 4px;
  margin: 2px;
  vertical-align: middle;
  background-color: steelblue;
  color: #f2f2f2;
  border: none;
  border-radius: 4px;
}
.redbutton:hover {
  background-color: red;
  color: white;
  vertical-align: bottom;
  border: none;
  cursor: pointer;
}
#logo {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
#avatar-img {
  vertical-align: bottom;
  margin: 2px;
  width: 26px;
  height: 26px;
}
.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  margin-block-start: 4px;
  margin-block-end: 4px;
  margin-inline-start: 8px;
  margin-inline-end: 8px;
  padding-inline-start: 0;
}
.commentCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: grid;
  grid-template-columns: 28px 140px auto 50px 60px;
  grid-template-rows: 28px auto 24px;
  grid-template-areas:
    "avatar commentName empty1 empty5 commentDelete"
    "empty2 comment comment comment comment"
    "empty3 commentTime commentLike commentVotes commentDislike";
  width: 96vw;
  border: 1px solid black;
  border-radius: 1em;
  text-decoration: none !important;
  margin: 6px auto;
  padding: 2px 2px;
  color: rgb(27, 27, 27);
  background-color: white;
}
.singleArticleCard {
  display: grid;
  grid-template-columns: auto 40px auto;
  grid-template-rows: auto auto 48px;
  grid-template-areas:
    "articleHeader articleHeader articleHeader"
    "articleBody articleBody articleBody"
    "articleBody articleBody articleBody"
    "articleBody articleBody articleBody"
    "articleLike articleVotes articleDislike";
  width: 96vw;
  border: 1px solid black;
  border-radius: 1em;
  margin: 6px auto;
  padding: 2px 2px;
  color: rgb(27, 27, 27);
  background-color: white;
}
.articleHeader {
  grid-area: articleHeader;
  text-align: center;
  vertical-align: top;
}
.articleLike {
  grid-area: articleLike;
  text-align: right;
  vertical-align: middle;
  cursor: pointer;
}
.articleDislike {
  grid-area: articleDislike;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
}
.articleVotes {
  grid-area: articleVotes;
  text-align: center;
  padding: 9px;
  vertical-align: middle;
}
.articleBody {
  grid-area: articleBody;
  text-align: center;
  padding: 10px;
}
.comment-avatar {
  grid-area: avatar;
  vertical-align: middle;
  padding: 0;
}
.comment {
  grid-area: comment;
  text-align: left;
  padding: 0px 6px 0px 0px;
}
.commentName {
  grid-area: commentName;
  text-align: left;
  vertical-align: middle;
  padding: 4px 4px;
  font-size: 0.9em;
}
.commentTime {
  grid-area: commentTime;
  text-align: left;
  padding-top: 6px;
  font-size: 0.7em;
}
.commentDelete {
  grid-area: commentDelete;
  text-align: start;
  vertical-align: middle;
  padding: 2px 4px;
}
.commentVotes {
  grid-area: commentVotes;
  text-align: center;
  vertical-align: middle;
  padding: 4px 0px;
  font-size: 12px;
  font-weight: bold;
}
.commentLike {
  grid-area: commentLike;
  text-align: end;
  vertical-align: middle;
  padding: 0 2px;
}
.commentDislike {
  grid-area: commentDislike;
  text-align: start;
  vertical-align: middle;
  padding: 0 2px;
}
.likeButton {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-size: 12px;
  padding: 2px 4px;
  vertical-align: middle;
  color: black;
  font-weight: bold;
  border-radius: 1em;

  border: none;
}
.likeButton:hover {
  background-color: rgb(104, 252, 104);
  color: black;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 900;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}
.dislikeButton {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-size: 12px;
  padding: 2px 4px;
  vertical-align: middle;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 1em;
}
.dislikeButton:hover {
  background-color: red;
  color: white;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 900;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}
.commentCard:hover {
  box-shadow: 0 50px 40px 0 rgba(0, 0, 0, 0.2);
  background-color: steelblue;
  color: #ffebcd;
}
.articleCard {
  flex: 0 1 calc(25% - 1em);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 304px;
  border: 1px solid black;
  border-radius: 0.5em;
  min-height: 260px;
  text-decoration: none !important;
  margin: 6px 4px;
  padding: 4px 4px;
  color: rgb(27, 27, 27);
  background-color: white;
}
.articleCard:hover {
  box-shadow: 0 50px 40px 0 rgba(0, 0, 0, 0.2);
  color: #ffebcd;
  background: #133c99; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #191970,
    #4682b4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #191970,
    #4682b4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.userCard {
  flex: 0 1 calc(25% - 1em);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  border: 1px solid black;
  border-radius: 0.5em;
  min-height: 200px;
  margin: 6px 4px;
  padding: 4px 4px;
  color: rgb(27, 27, 27);
  background-color: white;
}
.userCard:hover {
  box-shadow: 0 50px 40px 0 rgba(0, 0, 0, 0.2);
  color: #ffebcd;
  background: #133c99; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #191970,
    #4682b4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #191970,
    #4682b4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.topicCard {
  flex: 0 1 calc(25% - 1em);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 304px;
  border: 1px solid black;
  border-radius: 0.5em;
  min-height: 150px;
  margin: 6px 4px;
  padding: 4px 4px;
  color: rgb(27, 27, 27);
  background-color: white;
}
.topicCard:hover {
  box-shadow: 0 50px 40px 0 rgba(0, 0, 0, 0.2);
  background-color: steelblue;
  color: #ffebcd;
  background: #133c99; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #191970,
    #4682b4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #191970,
    #4682b4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.newUserForm {
  margin: 2px auto;
  padding: 4px;
  background-color: #191970;
}
.newTopicForm {
  margin: 2px auto;
  padding: 4px;
  background-color: #191970;
}
#newArticleForm {
  width: 300px;
  margin: 2px auto;
  padding: 4px;
  background-color: #191970;
}
#addCommentForm {
  padding: 4px;
}
.sortBy {
  width: 100%;
  margin: 2px 0;
  background-color: #191970;
  font-size: 12px;
  font-weight: bold;
  color: white;
  vertical-align: middle;
}
textarea {
  width: 240px;
  height: 80px;
  border-radius: 6px;
}
